{% extends "rnn/base.html" %} {% block title %}Uji Kata Mirip - Word Vector
App{% endblock %} {% block content %}
<h2>Cari Kata Mirip</h2>
<form method="POST" class="needs-validation mb-4" novalidate>
  <div class="mb-3">
    <label for="text" class="form-label">Masukkan Kata</label>
    <input
      type="text"
      name="text"
      class="form-control"
      id="text"
      placeholder="Contoh: bahasa"
      required
    />
    <div class="invalid-feedback">Silakan masukkan sebuah kata.</div>
  </div>
  <button type="submit" class="btn btn-success">Prediksi</button>
</form>

{% if result %}
<hr class="my-4" />
<h3>Hasil Prediksi: {{ result }}</h3>
{% endif %} {% endblock %}
