{% extends "layout/layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
 
 <section class="hero-section">
        <span class="exclamation exclamation-1">!</span>
        <span class="exclamation exclamation-2">!!</span>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 hero-content">
                    <h1 class="hero-title">Selamat Datang di Topic Labs!</h1>
                    <p class="hero-text">Eksplorasi dan uji coba model topic modeling terbaik seperti TF-IDF, LDA, dan BERTopic. Temukan wawasan dari data teks Anda dengan teknologi analisis topik canggih!</p>
                    <div class="buttons">
                        <a href="/tf-inverted" class="btn btn-comic btn-yellow">TF-IDF</a>
                        <a href="/lda" class="btn btn-comic btn-red">LDA</a>
                        <a href="/bertopic" class="btn btn-comic btn-blue">BERTopic</a>
                    </div>
                </div>
                <div class="col-lg-6 hero-image-container">
                    <div class="speech-bubble">
                        Analisis topik mudah dan cepat!
                    </div>
                    <img width="450px" src="{{ url_for('static', filename='hero.png') }}" alt="Comic Hero Image" class="hero-image img-fluid">
                </div>
            </div>
        </div>
    </section>
 {% endblock %}