    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Topic Labs</h5>
                    <p>Platform uji coba model topic modeling dalam satu tempat. Analisis, bandingkan, dan visualisasikan hasil ekstraksi topik dengan TF-IDF, LDA, dan BERTopic.</p>
                </div>
                <div class="col-md-2">
                    <h5>Navigasi</h5>
                    <ul>
                        <li><a href="#">Beranda</a></li>
                        
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Model Kami</h5>
                    <ul>
                        <li><a href="/tf-inverted">TF-IDF</a></li>
                        <li><a href="/lda">LDA</a></li>
                        <li><a href="/bertopic">BERTopic</a></li>
                    
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Kontak Kami</h5>
                    <ul>
                        <li><a href="https://github.com/rustam76">Github</a></li>
                        <li><a href="https://www.instagram.com/rustam1255/">Instagram</a></li>
                        <li><a href="https://www.linkedin.com/in/rustammajid/">Linkedin</a></li>
                    
                    </ul>
                </div>
            </div>
            <div class="copyright">
                &copy; 2025 Topic Labs. All rights reserved.
            </div>
        </div>
    </footer>

